h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* ========/ Common Styles ======== */

/* ======== Page Header Styles ======== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 149px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

@media only screen and (max-width: 767px) {
  .menu-open-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
  }
  .nav-menu,
  .adress-list {
    display: none;
  }
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .nav-menu,
  .adress-list {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .menu-open-button {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-first {
    position: relative;
    color: #404bbf;
  }

  .nav-link-first::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    height: 4px;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .adress-list {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    align-items: center;
  }
  .adress-list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .adress-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress-link:hover,
  .adress-link:focus {
    color: #404bbf;
  }
}

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .adress-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }

  .adress-link {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
/* ========/ Page Header Styles ======== */

/* ======== Hero section styles ======== */

.hero-section {
  max-width: 320px;
  background: #2e2f42;
  padding: 72px 0;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background_img/hero_mob_1x.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(46, 47, 66, 0.7);
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 288dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background_img/hero_mob_2x.jpg);
  }
}

.hero-name {
  max-width: 216px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  text-align: center;
}

.btn {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 112 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background_img/hero_tablet_1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 288dpi) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background_img/hero_tablet_2x.jpg);
    }

    .hero-name {
      max-width: 496px;
      font-size: 56px;
      line-height: 1.1;
      margin-bottom: 36px;
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background_img/hero_desktop_1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 288dpi) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background_img/hero_desktop_2x.jpg);
    }
    .hero-name {
      margin-bottom: 48px;
    }
  }
}

/* ========/ Hero section styles ======== */

/* ======== Futures Styles ======== */

.benefits {
  padding: 96px 0;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.benefits-list-item {
  width: 100%;
}

.benefits-icon-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: auto;
  padding-right: auto;
  gap: 72px;
  width: 100%;
}

.benefits-icon-container {
  display: none;
}

/* .benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
} */

.benefits-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media only screen and (min-width: 768px) {
  .benefits-list {
    gap: 72px 24px;
  }

  .benefits-title {
    text-align: left;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }
  .benefits-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-info {
    font-weight: 400;
  }
}

/* =======/ Futures Styles ======== */

/* ======= Team section ======== */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-list-item {
  background-color: #ffffff;
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-picture {
  background-color: #fff;
}

.team-name-container {
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .team-container {
    max-width: 584px;
  }

  .team-list-item {
    width: calc((100% - 24) / 2);
  }

  .team-list {
    gap: 64px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team-container {
    max-width: 1158px;
  }

  .team-list-item {
    width: calc((100% - 2px) / 4);
  }
}

/* =======/Team section ======== */

/* ======== Portfolio section ======== */

.portfolio {
  padding: 96px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-picture-container {
  position: relative;
  overflow: hidden;
}

.portfolio-picture-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}

.portfolio-picture-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.app-overlay {
  position: absolute;
  overflow: auto;
  background-color: #4d5ae5;
  color: #f4f4fd;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
}

.portfolio-picture-container:hover .app-overlay {
  transform: translateY(0%);
}

.portfolio-info-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/* ========/ Portfolio section ======== */

/* ======== Page Footer styles ======== */

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.footer-logo {
  display: inline-block;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-footer-social-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-list-link .social-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}

.footer-submit-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.footer-submit-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-submit-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}
.footer-submit-input::placeholder {
  color: #ffffff;
}
.footer-submit-input:focus {
  outline: transparent;
  border-color: #4d5ae5;
}
.footer-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-left: 24px;
  cursor: pointer;
  background-color: #4d5ae5;
}
.footer-send-icon {
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
  .footer-submit-text,
  .social-media,
  .footer-logo {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    align-items: baseline;
  }

  .page-footer-container {
    max-width: 264px;
  }

  .footer-submit-input {
    width: 264px;
  }

  .footer-container {
    justify-content: left;
    padding-left: 108px;
  }
}
@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .footer-container {
    padding-left: 15px;
    gap: 0;
  }

  .page-footer-container {
    margin-right: 120px;
  }

  .page-footer-social-list {
    margin-right: auto;
  }
}

/* ========/ Page Footer styles ======== */

/* ======== Backdrop Styles ======== */

/* ========/ Backdrop Styles ======== */
/* ======== Backdrop Styles ======== */

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

/* ========/ Backdrop Styles ======== */

/* ======== Modal Styles ========*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  max-width: 408px;
  width: calc(100% - 32px);
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  width: 24px;
  height: 24px;
  padding: 0px;
  margin: 0px;
  line-height: 0px;
  fill: #2e2f42;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-button:hover,
.modal-button:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.modal-close-button-icon {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 8px;
  height: 8px;
  padding: 0px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ========/ Modal Styles ========*/

/* ======== Rewiew form styles ======== */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.review-form-field-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.review-form-field-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}
.review-form-field-input:focus {
  outline: transparent;
  border-color: #4d5ae5;
}
.review-form-field-input:focus + .review-form-field-icon {
  fill: #4d5ae5;
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-field-wrapper-coment {
  margin-bottom: 16px;
}
.review-form-input-wrapper {
  position: relative;
}
.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
}
.review-form-field-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.review-form-field-comment:focus {
  outline: transparent;
  border-color: #4d5ae5;
}
.review-form-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.review-form-own-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-privacy-checkbox:checked
  + .review-form-privacy-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.review-form-privacy-checkbox:focus
  + .review-form-privacy-label
  .review-form-own-checkbox {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}
.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.review-form-submit-buttton {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox {
  margin-bottom: 24px;
}
/* ======== Mobile Menu Styles ======== */

@media only screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 55;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    overflow-y: auto;
  }

  .mobile-menu.is-open {
    transform: translateX(0);
    pointer-events: auto;
  }

  .mobile-menu-close-button {
    position: absolute;
    top: 24px;
    right: 16px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-icon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-nav-menu-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .mobile-nav-menu-link:hover,
  .mobile-nav-menu-link:focus {
    color: #404bbf;
  }

  .mobile-social-list {
    display: flex;
    gap: 40px;
    margin-top: 48px;
  }

  .mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02;
    color: #2e2f42;
  }

  .mobile-address-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
  }

  .mobile-nav-link:hover,
  .mobile-nav-link:focus,
  .mobile-nav-link.blue,
  .mobile-address-link.phone {
    color: #404bbf;
  }

  .mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-social-list-link:hover,
  .mobile-social-list-link:focus {
    background-color: #404bbf;
  }

  .mobile-social-list-link {
    fill: #f4f4fd;
  }
}

/* ========/ Mobile Menu Styles ======== */
